Repository indihouse/tslint-config-indihouse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --parser json --write, prettier --parser markdown --write, prettier-package-json --write

🐛 fix Jenkinsfile publish step
  Jenkinsfile
  package.json
Due: prettier --parser json --write, prettier-package-json --write

💚 add upload-spec
  resources/upload-spec.json
Due: prettier --parser json --write

v0.1.0
  package.json
Due: prettier --parser json --write, prettier-package-json --write

✨ add sigfox comfigs
  .vscode/launch.json
  configs/best-practices.config.js
  configs/code-smell.config.js
  configs/code-style.config.js
  configs/es6.config.js
  configs/index.js
  index.js
  rules/.gitignore
Due: eslint --fix, prettier --write, prettier --parser json --write

v0.2.0
  package.json
Due: prettier --parser json --write, prettier-package-json --write

🐛 Add configs to published package
  package.json
Due: prettier --parser json --write, prettier-package-json --write

v0.2.1
  package.json
Due: prettier --parser json --write, prettier-package-json --write

prepare release
  Jenkinsfile
  README.md
  package.json
  resources/upload-spec.json
  yarn.lock
Due: prettier --parser json --write, prettier --parser markdown --write, prettier-package-json --write

:bookmark: release 1.0.0
  package.json
Due: prettier --parser json --write, prettier-package-json --write

update rules
  README.md
  configs/best-practices.config.js
  configs/code-smell.config.js
  configs/code-style.config.js
  configs/es6.config.js
  index.js
  package.json
  scripts/doc.js
  yarn.lock
Due: eslint --fix, prettier --write, prettier --parser json --write, prettier --parser markdown --write, prettier-package-json --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.js
  prettier --parser json --write: any of: *.json
  prettier --parser markdown --write: any of: *.md
  prettier-package-json --write: any of: package.json
